{{#d-modal-body title="guest_gate.modal.title" class="guest-gate"}}
  <div>
    <p>{{replace-emoji (i18n 'signup_cta.intro')}}</p>
    <p>{{replace-emoji (i18n 'signup_cta.value_prop')}}</p>
  </div>
  {{login-buttons action="externalLogin"}}
{{/d-modal-body}}
<div class="modal-footer">
{{#if ssoEnabled}}
  {{d-button label="guest_gate.modal.log_in" action="showLogin"}}
  &nbsp;&nbsp;or&nbsp;
  {{d-button label="guest_gate.modal.sign_up" action="showCreateAccount"}}
{{else}}
  <a href {{action "showLogin"}}>{{i18n 'guest_gate.modal.log_in'}}</a>
  .
  <a href {{action "showCreateAccount"}}>{{i18n 'guest_gate.modal.sign_up_email'}}</a>
{{/if}}
</div>
<style type="text/css">
  .gate .modal-header {
    display: none;
  }
  .modal .modal-body p {
    font-size: 14px;
  }
  #login-buttons {
    margin-bottom: 0;
    text-align: center;
  }
  .modal-footer {
    text-align: center;
    color: #787878;
  }
  .modal-footer a {
    color: #787878;
  }
</style>